<section class="phx-hero">
  <h1><%= gettext "Welcome to Taskmania", name: "welcome" %></h1>
  <p>The Task Management System that keeps you going!</p>

  <%= link "Let's start with your Process Todos", to: Routes.todos_path(@socket, :index), class: "btn btn-info btn-lg" %>
</section>

<section class="row">
  <article class="column">

  </article>
  <article class="column">

  </article>
</section>
